* {
  margin: 0;
  padding: 0;
  background-color: #42414D;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#caja {
  width: 50%;
  margin: auto;
}

#dondelossvg {
  /*background-color: #BAE498;
  border: 1px solid red;*/
  width: 65%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  gap: 10px;
  row-gap: 60px;
}

#cuadro1 {
  width: 40%;
}

#cuadro1 :hover {
  border-radius: 15px;
  border-top: solid 1px #313131;
  box-shadow: -10px 8px 5px #313131;
}

@media screen and (max-width: 540px) {
  #caja {
    width: 70%;
    margin: auto;
  }
  #cuadro1 {
    width: 70%;
  }
}
@media screen and (max-width: 540px) {
  #dondelossvg {
    border-top: 2px dashed white;
    padding-top: 15px;
  }
}
#rotulo {
  padding: 3em;
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #A24BE7, #2C68A6, #7FB029, #D2C31E, #D92732);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 540px) {
  #rotulo {
    padding: 1em;
  }
}
#comentario {
  padding: 5em;
  background-color: #313131;
  margin-top: 15vh;
  border-radius: 15px;
  width: 75%;
  margin: auto;
  color: #FDFFEF;
  size: 3em;
}

#comentario p {
  background-color: #313131;
  font-size: 1.5em;
}

@media screen and (max-width: 540px) {
  #comentario {
    padding: 1.7em;
    background-color: #313131;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    color: #FDFFEF;
    font-size: 0.7em;
  }
}
footer {
  margin-top: 5vh;
  padding-top: 5vh;
  width: 100%;
  background-color: #313131;
  border-radius: 3vh 3vh 0vh 0vh;
}

footer a {
  outline: none;
  text-decoration: none;
  color: #FDFFEF;
  background-color: #313131;
  border-bottom: 3px solid;
  border-color: #FDFFEF;
}

footer a:link {
  color: #FDFFEF;
}

footer a:visited {
  color: #437A16;
}

footer a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

footer a:hover {
  background-color: #313131;
  border-bottom: 1px solid red;
  border: 10px;
  background: linear-gradient(to right, #A24BE7, #2C68A6, #7FB029, #D2C31E, #D92732);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 8px solid;
  -o-border-image: linear-gradient(to right, #A24BE7, #2C68A6, #7FB029, #D2C31E, #D92732) 1;
  border-image: linear-gradient(to right, #A24BE7, #2C68A6, #7FB029, #D2C31E, #D92732) 1;
}

.pie {
  width: 50%;
  height: 15vh;
  color: #FDFFEF;
  background-color: #313131;
  text-align: center;
  margin: auto;
  font-size: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#iconospadre {
  background-color: #313131;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
#iconospadre #iconosredes {
  background-color: #313131;
}

#enlacered {
  background-color: #437A16;
}

#notafinal {
  font-size: 2em;
  width: 50%;
  height: 15vh;
  color: #FDFFEF;
  background-color: #313131;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */