//nuevo en logo principal
#coronaA{
  -webkit-animation: down-anim 2s   ease-in;
  animation: down-anim 2s   ease-in;
}

#coronaR{
  -webkit-animation: up-anim  2s  ease-in;
  animation: up-anim  2s  ease-in;
}

#coronaT{
  -webkit-animation: down-anim 2s   ease-in;
  animation: down-anim 2s   ease-in;
}

#coronaY{
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation: up-anim 6s   ease-in;
    animation: up-anim 6s   ease-in;
  
}

#coronaK{
  -webkit-animation: down-anim 2s   ease-in;
  animation: down-anim 2s   ease-in;
}
#coronaO{
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation: izq-der1 3s;
  animation: izq-der1 3s ;
}

//nuevo en ar

#romboarriba{

  animation: up-down   5s infinite;
}
#romnboizquierda{
  animation: izq-der2 5s infinite;
}

#romboderecha{
  animation: izq-der3 5s   infinite;
}
//nuevo en Mifiltro


#Primer_plano{
  animation: escalar 3s infinite ease-in-out;
}

//nuevo en icono luzyfuego
#IconoLuz{
  :hover{animation: escalar 1s ease-in;}
}

#Corona{
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation: down-anim 2s   ease-in;
  animation: down-anim 2s   ease-in;
 

  :hover{  // no funciona
    -webkit-animation: up-anim 2s   ease-in;
    animation: giro 2s   ease-in;
    

  }
}

#CirculoLuz{
  animation: giro 2s   ease-in;

  
}


//nuevo  en icono 360
#Icono360:hover{
  animation: escalar 3s ease-in;  

  /*
    #huevo {
      -webkit-animation: izq-der 2s   ease-in;
              animation: izq-der 2s   ease-in;
    }
  
    
    #circulo {
      -webkit-animation: izq-der1 2s   ease-in;
              animation: izq-der1 2s   ease-in;
    }
  
    #ovalo {
      -webkit-animation: up-anim  2s  ease-in;
              animation: up-anim  2s  ease-in;
    }*/
}
  
  
#cerito {
    transition-delay: 3s;
    -webkit-animation: izq-der 2s   ease-in;
    animation: izq-der 2s   ease-in;
}
  
  
  
#ceritocerito {
    animation-direction: reverse;//no hace nada
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation: izq-der 2s   ease-in;
    animation: izq-der 2s   ease-in;
}






// las animaciones:


@keyframes izq-der {
    from {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
}


  
@keyframes izq-der1 {   //derecha izquierda 
    from {
      -webkit-transform: translateX(+50px);
              transform: translateX(+50px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
}

@keyframes izq-der2
{
  0%{

    -webkit-transform: translateX(0px);
    transform: translateX(0px);
   }
 
   50%{
 
     -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
   }
 
  100%{
 
   -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
}
@keyframes izq-der3
{
  0%{

    -webkit-transform: translateX(0px);
    transform: translateX(0px);
   }
 
   50%{
 
     -webkit-transform: translateX(3px);
    transform: translateX(3px);
   }
 
  100%{
 
   -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
}
  
  
@keyframes up-anim {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}

@keyframes down-anim {
    from {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}

@keyframes up-down {
   
  0%{

   -webkit-transform: translateY(0px);
   transform: translateY(0px);
  }

  50%{

    -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
  }

 100%{
  -webkit-transform: translateY(0px);
   transform: translateY(0px);
   }

}

@keyframes giro
{
  from{transform: rotate (0.1turn);}   //transform: rotate(0.5turn);
 
  to{
   transform:  rotate (0.9turn);
  }
}


@keyframes escalar
{
  0%{ transform: scale(1) ;}
  33%{transform: scale(1.05) translate(-6px, -6px);}
  66%{transform: scale(1);}
  100%{transform: 0.995;}
}